@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: #111827;

  @apply bg-primary text-accent;
}

*::selection {
  background-color: #3B72BF;
}
